In [10]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell

In [11]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_colwidth', None)  # Show the full length of cell contents
pd.set_option('display.expand_frame_repr', False)  # Prevent multi-line output for wide DataFrames

# Settings for Jupyter to avoid "scrollable" mode
InteractiveShell.ast_node_interactivity = "all"

In [12]:
car_price_df = pd.read_csv('https://raw.githubusercontent.com/vincenzorrei/EDU-Datasets/refs/heads/main/CarPrice/CarPrice_Assignment.csv')

In [13]:
car_price_df.head()

   car_ID  symboling                   CarName fueltype aspiration doornumber      carbody drivewheel enginelocation  wheelbase  carlength  carwidth  carheight  curbweight enginetype cylindernumber  enginesize fuelsystem  boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  highwaympg    price
0       1          3        alfa-romero giulia      gas        std        two  convertible        rwd          front       88.6      168.8      64.1       48.8        2548       dohc           four         130       mpfi       3.47    2.68               9.0         111     5000       21          27  13495.0
1       2          3       alfa-romero stelvio      gas        std        two  convertible        rwd          front       88.6      168.8      64.1       48.8        2548       dohc           four         130       mpfi       3.47    2.68               9.0         111     5000       21          27  16500.0
2       3          1  alfa-romero Quadrifoglio      gas        std        two    hatchback        rwd          front       94.5      171.2      65.5       52.4        2823       ohcv            six         152       mpfi       2.68    3.47               9.0         154     5000       19          26  16500.0
3       4          2               audi 100 ls      gas        std       four        sedan        fwd          front       99.8      176.6      66.2       54.3        2337        ohc           four         109       mpfi       3.19    3.40              10.0         102     5500       24          30  13950.0
4       5          2                audi 100ls      gas        std       four        sedan        4wd          front       99.4      176.6      66.4       54.3        2824        ohc           five         136       mpfi       3.19    3.40               8.0         115     5500       18          22  17450.0

In [14]:
car_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [15]:
# Convert the `cylindernumber` column to an integer column
def convert_cylindernumber_to_int(cylindernumber):
    if cylindernumber == "two":
        return 2
    elif cylindernumber == "three":
        return 3
    elif cylindernumber == "four":
        return 4
    elif cylindernumber == "five":
        return 5
    elif cylindernumber == "six":
        return 6
    elif cylindernumber == "eight":
        return 8
    elif cylindernumber == "twelve":
        return 12
    else:
        return
    
# Apply the function to the `cylindernumber` column
car_price_df["cylindernumber_int"] = car_price_df["cylindernumber"].apply(convert_cylindernumber_to_int)

In [16]:
# Select only non-numeric columns
categorical_columns = car_price_df.select_dtypes(exclude=['number']).columns

# Create a dictionary to store the value counts of each categorical column
value_counts_dict = {col: car_price_df[col].value_counts() for col in categorical_columns}

# Display the results to the user
for col, value_counts in value_counts_dict.items():
    print(f"{'-'*10} {col} {'-'*10}")
    print(value_counts, "\n")

---------- CarName ----------
CarName
peugeot 504                        6
toyota corolla                     6
toyota corona                      6
subaru dl                          4
mitsubishi outlander               3
mazda 626                          3
honda civic                        3
mitsubishi mirage g4               3
mitsubishi g4                      3
toyota mark ii                     3
nissan clipper                     2
honda civic cvcc                   2
honda accord                       2
mazda glc                          2
mazda rx-7 gs                      2
mazda glc deluxe                   2
bmw x3                             2
bmw 320i                           2
audi 100ls                         2
volvo 264gl                        2
volvo 144ea                        2
volvo 244dl                        2
toyota starlet                     2
volvo 145e (sw)                    2
subaru                             2
toyota corolla 1200                2
saab 99e                           2
peugeot 604sl                      2
saab 99le                          2
saab 99gle                         2
nissan rogue                       2
nissan latio                       2
mazda rx-4                         2
isuzu D-Max                        2
volkswagen dasher                  2
porsche cayenne                    2
plymouth fury iii                  2
toyota corolla liftback            2
chevrolet impala                   1
bmw x5                             1
bmw x4                             1
bmw z4                             1
bmw x1                             1
audi 100 ls                        1
audi 5000s (diesel)                1
audi 4000                          1
audi 5000                          1
audi fox                           1
alfa-romero giulia                 1
alfa-romero stelvio                1
alfa-romero Quadrifoglio           1
dodge rampage                      1
chevrolet vega 2300                1
chevrolet monte carlo              1
isuzu D-Max V-Cross                1
mazda glc 4                        1
maxda glc deluxe                   1
mazda rx2 coupe                    1
mazda glc custom l                 1
buick skylark                      1
buick opel isuzu deluxe            1
buick skyhawk                      1
buick century special              1
jaguar xj                          1
jaguar xf                          1
buick century                      1
dodge dart custom                  1
honda prelude                      1
honda civic 1300                   1
honda civic 1500 gl                1
honda accord lx                    1
honda accord cvcc                  1
dodge coronet custom               1
isuzu MU-X                         1
honda civic (auto)                 1
maxda rx3                          1
jaguar xk                          1
dodge coronet custom (sw)          1
dodge challenger se                1
dodge colt (sw)                    1
dodge d200                         1
dodge monaco (sw)                  1
dodge colt hardtop                 1
nissan teana                       1
nissan otti                        1
nissan fuga                        1
nissan dayz                        1
nissan nv200                       1
nissan note                        1
nissan juke                        1
nissan leaf                        1
mitsubishi pajero                  1
nissan titan                       1
Nissan versa                       1
nissan gt-r                        1
mitsubishi montero                 1
mercury cougar                     1
buick regal sport coupe (turbo)    1
mitsubishi lancer                  1
buick century luxus (sw)           1
buick electra 225 custom           1
mazda glc custom                   1
mitsubishi mirage                  1
plymouth fury gran sedan           1
plymouth valiant                   1
plymouth satellite custom (sw)     1
plymouth duster                    1
porsche boxter                     1
porcshce panamera                  1
porsche macan                      1
plymouth cricket                   1
peugeot 504 (sw)                   1
peugeot 304                        1
peugeot 505s turbo diesel          1
nissan kicks                       1
subaru tribeca                     1
toyota corona mark ii              1
subaru r2                          1
subaru trezia                      1
subaru r1                          1
subaru baja                        1
renault 12tl                       1
subaru brz                         1
renault 5 gtl                      1
toyota corolla tercel              1
toyota tercel                      1
toyota corona liftback             1
toyota carina                      1
toyota corolla 1600 (sw)           1
toyota celica gt liftback          1
toyota corona hardtop              1
volkswagen 1131 deluxe sedan       1
vokswagen rabbit                   1
toyouta tercel                     1
toyota celica gt                   1
toyota cressida                    1
volkswagen model 111               1
volkswagen 411 (sw)                1
volkswagen type 3                  1
volkswagen rabbit                  1
vw rabbit                          1
vw dasher                          1
volkswagen super beetle            1
volkswagen rabbit custom           1
volvo 245                          1
volvo diesel                       1
volvo 246                          1
Name: count, dtype: int64

---------- fueltype ----------
fueltype
gas       185
diesel     20
Name: count, dtype: int64

---------- aspiration ----------
aspiration
std      168
turbo     37
Name: count, dtype: int64

---------- doornumber ----------
doornumber
four    115
two      90
Name: count, dtype: int64

---------- carbody ----------
carbody
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: count, dtype: int64

---------- drivewheel ----------
drivewheel
fwd    120
rwd     76
4wd      9
Name: count, dtype: int64

---------- enginelocation ----------
enginelocation
front    202
rear       3
Name: count, dtype: int64

---------- enginetype ----------
enginetype
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: count, dtype: int64

---------- cylindernumber ----------
cylindernumber
four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: count, dtype: int64

---------- fuelsystem ----------
fuelsystem
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: count, dtype: int64

In [17]:
print(car_price_df['aspiration'].value_counts())

aspiration
std      168
turbo     37
Name: count, dtype: int64